.uti-objfit-cover {
  object-fit: cover;
}

.uti-bg-linear-gradient-vert {
  background: linear-gradient(90deg, #7000ff, #11002d);
}

.uti-bg-radial-gradient {
  background: radial-gradient(circle, rgba(48,8,113,1) 0%, rgba(0,0,0,1) 100%);
}

.uti-inset-0 {
  inset: 0;
}

.uti-trasition-03 {
  transition: 0.3s;
}

.uti-cursor-point {
  cursor: pointer;
}