<nav class="navbar navbar-expand-lg navbar-light bg-primary border-bottom py-0 position-fixed top-0 start-0 end-0"
  style="z-index: 1000;">
  <div class="container-lg">
    <h1><a class="navbar-brand font-Shrikhand fs-32 text-secondary py-16" href="index.html">ALPHABOX+</a></h1>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="icon icon-menu text-secondary" style="font-size: 33px;"></i>
    </button>

    <div class="collapse navbar-collapse mx-n12 mx-lg-0 pt-24 pb-32 py-lg-0" id="navbarSupportedContent">
      <ul class="navbar-nav flex-column flex-lg-row mx-auto mb-2 mb-lg-0">
        <li class="nav-item mb-4 m-lg-0">
          <a class="nav-link text-secondary fw-semibold text-center px-20" aria-current="page" href="product.html">產品</a>
        </li>
        <li class="nav-item mb-4 m-lg-0">
          <a class="nav-link text-secondary fw-semibold text-center px-20" href="about.html">關於我們</a>
        </li>
        <li class="nav-item mb-4 m-lg-0">
          <a class="nav-link text-secondary fw-semibold text-center px-20" href="news.html">最新消息</a>
        </li>
        <li class="nav-item mb-4 m-lg-0">
          <a class="nav-link text-secondary fw-semibold text-center px-20" href="faq.html">FAQ</a>
        </li>
        <li class="nav-item mb-4 m-lg-0">
          <a class="nav-link text-secondary fw-semibold text-center px-20" href="contact.html">聯絡我們</a>
        </li>
      </ul>

      <ul class="navbar-nav flex-column flex-lg-row">
        <li class="nav-item mb-4 m-lg-0">
          <a class="nav-link text-secondary fw-semibold text-center px-12" href="#">註冊</a>
        </li>
        <li class="nav-item mb-4 m-lg-0">
          <a class="nav-link text-secondary fw-semibold text-center px-12" href="#">登入</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-secondary border-0 fw-semibold d-flex align-items-center py-8 px-16 mx-auto ms-lg-20"><i class="icon icon-flare icon-2 me-4"></i>訂閱</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

