<ul class="nav justify-content-center bg-dark py-16 mt-70">
  <li class="nav-item mx-4 mx-lg-12">
    <a class="active fs-lg-24 font-Shrikhand btn btn-outline-secondary rounded-pill py-4 px-16 px-md-40 px-xl-80" aria-current="page" href="#">Diane</a>
  </li>
  <li class="nav-item mx-4 mx-lg-12">
    <a class="fs-lg-24 font-Shrikhand btn btn-outline-secondary rounded-pill py-4 px-16 px-md-40 px-xl-80" aria-current="page" href="#">Felix</a>
  </li>
  <li class="nav-item mx-4 mx-lg-12">
    <a class="fs-lg-24 font-Shrikhand btn btn-outline-secondary rounded-pill py-4 px-16 px-md-40 px-xl-80" aria-current="page" href="#">Karina</a>
  </li>
  <li class="nav-item mx-4 mx-lg-12">
    <a class="fs-lg-24 font-Shrikhand btn btn-outline-secondary rounded-pill py-4 px-16 px-md-40 px-xl-80" aria-current="page" href="#">Vito</a>
  </li>
</ul>