<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/nav'); -%>

    <div class="bg-primary pt-28 pt-lg-56 uti-bg-linear-gradient">
      <div class="container-fluid px-lg-80">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-between align-items-center mb-56">
          <p class="w-100 fw-bold text-secondary border-top align-self-stretch align-self-lg-start pt-8">ALPHABOX+ STUDIO</p>
          <div class="w-100">
            <img src="../assets/images/circle.png" alt="circle" width="196" class="mx-auto py-32 py-lg-0">
          </div>
          <p class="w-100 fw-bold text-secondary border-bottom align-self-lg-end d-none d-lg-inline-block pb-8">最新消息！新版本 v15.4 釋出，搶先體驗！</p>
        </div>

        <div class="text-secondary text-center d-lg-none mb-32">
          <table class="table mb-0">
            <tr class="fs-20 font-Shrikhand text-secondary">
              <td class="border-0 p-0">A</td>
              <td class="border-0 p-0">L</td>
              <td class="border-0 p-0">P</td>
              <td class="border-0 p-0">H</td>
              <td class="border-0 p-0">A</td>
              <td class="border-0 p-0">B</td>
              <td class="border-0 p-0">O</td>
              <td class="border-0 p-0">X</td>
              <td class="border-0 p-0">+</td>
            </tr>
          </table>
          <p class="fw-bold px-8" style="letter-spacing: 6px;">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
        </div>

        <div class="row align-items-top">
          <div class="col-12 col-sm-6 col-lg-3 mb-16 order-sm-0 mb-lg-0">
            <div class="card h-100 bg-dark text-white border-0">
              <a href="#" class="img_hover link-secondary w-100 h-100 overflow-hidden">
                <img src="../assets/images/diane.png" class="card-img h-100 uti-objfit-cover" alt="diane">
                <div class="card-img-overlay">
                  <h3 class="card-title fs-32 font-Shrikhand text-center">Diane</h3>
                </div>
              </a>
            </div>
          </div>

          <div class="col-12 col-lg-6 order-sm-2 order-lg-1">
            <div class="text-secondary text-center d-none d-lg-block mb-24">
              <table class="table mb-0">
                <tr class="fs-32 font-Shrikhand text-secondary">
                  <td class="border-0 p-0">A</td>
                  <td class="border-0 p-0">L</td>
                  <td class="border-0 p-0">P</td>
                  <td class="border-0 p-0">H</td>
                  <td class="border-0 p-0">A</td>
                  <td class="border-0 p-0">B</td>
                  <td class="border-0 p-0">O</td>
                  <td class="border-0 p-0">X</td>
                  <td class="border-0 p-0">+</td>
                </tr>
              </table>
              <p class="fw-bold" style="letter-spacing: 14px;">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
            </div>

            <div class="row">
              <div class="col-12 col-sm-6 col-lg-6 mb-16 mb-sm-0">
                <div class="card bg-dark text-white border-0">
                  <a href="#" class="img_hover link-secondary w-100 h-100 overflow-hidden">
                    <img src="../assets/images/felix.png" class="card-img h-100 uti-objfit-cover" alt="felix">
                    <div class="card-img-overlay">
                      <h3 class="card-title fs-32 font-Shrikhand text-center">felix</h3>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6 mb-16 mb-sm-0">
                <div class="card bg-dark text-white border-0">
                  <a href="#" class="img_hover link-secondary w-100 h-100 overflow-hidden">
                    <img src="../assets/images/karina.png" class="card-img h-100 uti-objfit-cover" alt="karina">
                    <div class="card-img-overlay">
                      <h3 class="card-title fs-32 font-Shrikhand text-center">karina</h3>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>


          <div class="col-12 col-sm-6 col-lg-3 order-sm-1 order-lg-2 mb-sm-16 mb-lg-0">
            <div class="card h-100 bg-dark text-white border-0">
              <a href="#" class="img_hover link-secondary w-100 h-100 overflow-hidden">
                <img src="../assets/images/vito.png" class="card-img h-100 h-100 uti-objfit-cover" alt="vito">
                <div class="card-img-overlay">
                  <h3 class="card-title fs-32 font-Shrikhand text-center">vito</h3>
                </div>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>

    

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
