<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/nav'); -%>

    <div class="pt-28 pt-lg-56"
      style="background-image: url(../assets/images/home_background.png); background-size: cover; object-fit: cover;">
      <div class="container-fluid px-lg-80">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-between align-items-center mb-56">
          <p class="w-100 fw-bold text-secondary border-top align-self-stretch align-self-lg-start pt-8">ALPHABOX+ STUDIO</p>
          <div class="w-100">
            <img src="../assets/images/circle.png" alt="circle" width="196" class="mx-auto py-32 py-lg-0">
          </div>
          <p class="w-100 fw-bold text-secondary border-bottom align-self-lg-end d-none d-lg-inline-block pb-8">最新消息！新版本 v15.4 釋出，搶先體驗！</p>
        </div>

        <div class="text-secondary text-center d-lg-none mb-32">
          <table class="table mb-0">
            <tr class="fs-20 font-Shrikhand text-secondary">
              <td class="border-0 p-0">A</td>
              <td class="border-0 p-0">L</td>
              <td class="border-0 p-0">P</td>
              <td class="border-0 p-0">H</td>
              <td class="border-0 p-0">A</td>
              <td class="border-0 p-0">B</td>
              <td class="border-0 p-0">O</td>
              <td class="border-0 p-0">X</td>
              <td class="border-0 p-0">+</td>
            </tr>
          </table>
          <p class="fw-bold px-8" style="letter-spacing: 6px;">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
        </div>

        <div class="row align-items-top position-relative" style="transform: translateY(104px); margin-top: -104px; z-index: 100;">
          <div class="col-12 col-sm-6 col-lg-3 mb-16 order-sm-0 mb-lg-0">
            <div class="card h-100 bg-dark text-white border-0">
              <a href="#" class="img_hover link-secondary w-100 h-100 overflow-hidden">
                <img src="../assets/images/diane.png" class="card-img h-100 uti-objfit-cover" alt="diane">
                <div class="card-img-overlay">
                  <h3 class="card-title fs-32 font-Shrikhand text-center">Diane</h3>
                </div>
              </a>
            </div>
          </div>

          <div class="col-12 col-lg-6 order-sm-2 order-lg-1 d-flex flex-column justify-content-between">
            <div class="text-secondary text-center d-none d-lg-block mb-24">
              <table class="table mb-0">
                <tr class="fs-32 font-Shrikhand text-secondary">
                  <td class="border-0 p-0">A</td>
                  <td class="border-0 p-0">L</td>
                  <td class="border-0 p-0">P</td>
                  <td class="border-0 p-0">H</td>
                  <td class="border-0 p-0">A</td>
                  <td class="border-0 p-0">B</td>
                  <td class="border-0 p-0">O</td>
                  <td class="border-0 p-0">X</td>
                  <td class="border-0 p-0">+</td>
                </tr>
              </table>
              <p class="fw-bold" style="letter-spacing: 14px;">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
            </div>

            <div class="row">
              <div class="col-12 col-sm-6 col-lg-6 mb-16 mb-sm-0">
                <div class="card bg-dark text-white border-0">
                  <a href="#" class="img_hover link-secondary w-100 h-100 overflow-hidden">
                    <img src="../assets/images/felix.png" class="card-img h-100 uti-objfit-cover" alt="felix">
                    <div class="card-img-overlay">
                      <h3 class="card-title fs-32 font-Shrikhand text-center">felix</h3>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-6 mb-16 mb-sm-0">
                <div class="card bg-dark text-white border-0">
                  <a href="#" class="img_hover link-secondary w-100 h-100 overflow-hidden">
                    <img src="../assets/images/karina.png" class="card-img h-100 uti-objfit-cover" alt="karina">
                    <div class="card-img-overlay">
                      <h3 class="card-title fs-32 font-Shrikhand text-center">karina</h3>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>


          <div class="col-12 col-sm-6 col-lg-3 order-sm-1 order-lg-2 mb-sm-16 mb-lg-0">
            <div class="card h-100 bg-dark text-white border-0">
              <a href="#" class="img_hover link-secondary w-100 h-100 overflow-hidden">
                <img src="../assets/images/vito.png" class="card-img h-100 uti-objfit-cover" alt="vito">
                <div class="card-img-overlay">
                  <h3 class="card-title fs-32 font-Shrikhand text-center">vito</h3>
                </div>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div style="background: radial-gradient(circle, rgba(48,8,113,1) 0%, rgba(0,0,0,1) 100%);">
      <div class="position-relative">
        <img src="../assets/images/carousel_mobile.png" alt="carousel_mobile" style="max-width: 50%; height: 1089px; object-fit: cover; filter: blur(10px);">
        <div class="container-fluid px-lg-80 position-absolute top-0">
          <div class="uti-bg-linear-gradient-vert mt-144 mb-8" style="height: 40px;"></div>
          <div>
            <p class="fs-24 fs-lg-48 fw-bold text-secondary letter-24 letter-lg-48 mb-12">什麼是</p>
            <p class="fs-24 fs-lg-48 fw-bold text-secondary letter-24 letter-lg-48">ALPHABOX+</p>
          </div>
          <hr class="mx-lg-n80 border-secondary mb-32">
          <div class="d-flex align-items-center">
            <div class="swipter-prev d-none d-xl-inline-block me-52" onmouseover="this.style.opacity='0.5'" onmouseout="this.style.opacity='1'"
              style="transform: rotate(180deg); z-index: 10; left: -172px;">
                <img src="../assets/images/line_end_arrow_notch.svg" alt="">
              </div>
            <div class="swiper container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="position-relative">
                    <img src="../assets/images/carousel.png" class="card-img d-none d-md-block" alt="carousel">
                    <img src="../assets/images/carousel_mobile.png" class="card-img d-md-none" alt="carousel_mobile">
                    <div class="position-absolute bottom-0 bottom-md-none top-md-50 end-md-0 translate-middle-md-y text-secondary text-md-end ps-16 pb-16 me-40">
                      <p class="fs-64 fs-lg-96 font-Shrikhand">01</p>
                      <h2 class="fs-24 fs-lg-32 fw-bold letter-24 letter-lg-32 me-n24 me-lg-n32 mb-8 mb-lg-16">立體投影技術</h2>
                      <p class="fw-bold">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="position-relative">
                    <img src="../assets/images/carousel.png" class="card-img d-none d-md-block" alt="carousel">
                    <img src="../assets/images/carousel_mobile.png" class="card-img d-md-none" alt="carousel_mobile">
                    <div class="position-absolute bottom-0 bottom-md-none top-md-50 end-md-0 translate-middle-md-y text-secondary text-md-end ps-16 pb-16 me-40">
                      <p class="fs-64 fs-lg-96 font-Shrikhand">02</p>
                      <h2 class="fs-24 fs-lg-32 fw-bold letter-24 letter-lg-32 me-n24 me-lg-n32 mb-8 mb-lg-16">立體投影技術</h2>
                      <p class="fw-bold">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swipter-next d-none d-xl-inline-block ms-52" onmouseover="this.style.opacity='0.5'" onmouseout="this.style.opacity='1'">
              <img src="../assets/images/line_end_arrow_notch.svg" alt="">
            </div>
          </div>
  
          <div class="uti-bg-linear-gradient-vert mt-32" style="height: 40px;"></div>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-center pt-60 pb-80 pt-lg-160 pb-lg-40"
    style="background: radial-gradient(circle, rgba(48,8,113,1) 0%, rgba(0,0,0,1) 100%);">
      <div class="container">
        <h2 class="fs-40 fs-lg-48 fw-bold text-center text-md-start letter-40 letter-lg-48 mb-32 mb-lg-40">最新消息</h2>
        <div class="border-top border-bottom py-32 py-lg-40 px-16">
          <p class="d-flex align-items-center fw-bold letter-16 mb-8"><i class="icon icon-emergency me-16"></i>2023.06.30</p>
          <h3 class="fs-20 fw-bold letter-20 mb-12">產品升級公告</h3>
          <div class="row">
            <div class="col-12 col-lg-9">
              <p class="fw-bold mb-12 mb-lg-0">榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！</p>
            </div>
            <div class="col-12 col-lg-3 d-flex">
              <a href="#" class="d-inline-block ms-lg-auto"
                onmouseover="this.style.opacity='0.5'"
                onmouseout="this.style.opacity='1'"
                ><img src="../assets/images/line_end_arrow_md.svg" alt="line_end_arrow_md"></a>
            </div>
          </div>
        </div>

        <div class="row px-12">
          <div class="col-12 col-lg-6 border-end-lg border-bottom-lg">
            <div class="py-32 py-lg-40 px-16 border-bottom border-lg-0">
              <p class="d-flex align-items-center fw-bold letter-16 mb-8"><i class="icon icon-emergency me-16"></i>2023.06.30</p>
              <h3 class="fs-20 fw-bold letter-20 mb-12">限時優惠活動</h3>
              <div class="row">
                <div class="col-12">
                  <p class="fw-bold mb-12">為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！</p>
                </div>
                <div class="col-12">
                  <a href="#" class="d-inline-block ms-lg-auto"
                    onmouseover="this.style.opacity='0.5'"
                    onmouseout="this.style.opacity='1'"
                    ><img src="../assets/images/line_end_arrow_sm.svg" alt="line_end_arrow_md"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 border-bottom-lg">
            <div class="py-32 py-lg-40 px-16 border-bottom border-lg-0">
              <p class="d-flex align-items-center fw-bold letter-16 mb-8"><i class="icon icon-emergency me-16"></i>2023.06.30</p>
              <h3 class="fs-20 fw-bold letter-20 mb-12">新功能上線</h3>
              <div class="row">
                <div class="col-12">
                  <p class="fw-bold mb-12">為使您的 ALPHABOX+ 更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。</p>
                </div>
                <div class="col-12">
                  <a href="#" class="d-inline-block ms-lg-auto"
                    onmouseover="this.style.opacity='0.5'"
                    onmouseout="this.style.opacity='1'"
                    ><img src="../assets/images/line_end_arrow_sm.svg" alt="line_end_arrow_md"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-40 mt-lg-76 mb-0 mb-lg-96">
          <a href="#" class="d-inline-block"><img src="../assets/images/check_more.svg" alt="check_more"></a>
        </div>
        <p class="fw-bold text-end d-none d-lg-block">為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料</p>
      </div>
    </div>

    <div class="bg-normal pt-60 pb-80 py-lg-144">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-5 mb-24 mb-lg-0">
            <h2 class="fs-40 fs-lg-48 fw-bold letter-40 letter-lg-48 mb-12 mb-lg-20">聯絡我們</h2>
            <div class="d-flex align-items-center mb-36 mb-lg-54">
              <i class="icon icon-circle text-secondary fs-12 me-8"></i>
              <div class="rounded-pill bg-secondary" style="width: 124px;height: 12px;"></div>
            </div>
            <p class="fw-bold mb-4">讓科技成為您的最佳夥伴</p>
            <p class="fw-bold">立即體驗神奇功能並享限時優惠！</p>
          </div>
          <div class="col-12 col-lg-7">
            <i class="icon icon-emergency text-secondary fs-80 mb-16"></i>
            <form action="#">
              <div class="form-floating mb-16">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput" class="text-normal fw-bold">EMAIL</label>
              </div>
              <div class="form-floating mb-16">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 120px;"></textarea>
                <label for="floatingTextarea" class="text-normal fw-bold">COMMENTS</label>
              </div>
              <div class="d-grid d-lg-block gap-2">
                <button class="btn btn-primary rounded-1 d-flex align-items-center justify-content-center ms-lg-auto py-8 px-lg-178" type="button"><i class="icon icon-flare icon-3 me-8"></i>送出</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="container-fluid px-0">
        <div class="row row-cols-2 row-cols-lg-4 g-0">
          <div class="col">
            <a class="position-relative" href="#"
              onmouseover="this.querySelector('span').style.opacity='40%'" 
              onmouseout="this.querySelector('span').style.opacity='1'">
              <div class="position-relative">
                <img src="../assets/images/diane_vertical.png" alt="diane_vertical" class="uti-objfit-cover d-none d-lg-block" style="height: 876px; width: 100%;">
                <img src="../assets/images/diane_vertical.png" alt="diane_vertical" class="uti-objfit-cover d-block d-lg-none" style="min-height: 406px;">
                <span class="position-absolute bg-dark uti-inset-0 uti-trasition-03"></span>
              </div>
              <div class="position-absolute uti-inset-0 d-flex flex-column justify-content-between px-12 py-24 px-lg-40">
                <div>
                  <p class="fs-128 fs-sm-200 fs-md-300 fs-lg-400 font-SairaExtraCond text-center mb-20">1</p>
                  <h2 class="fs-24 fs-sm-32 font-Shrikhand fst-italic text-center">Diane</h2>
                </div>
                <div class="row gx-0 flex-xl-row align-items-xl-end">
                  <div class="col-12 col-xl-6">
                    <p class="fw-bold">知識型<br><span class="fw-normal">學術領導/知識分享/智能問答</span></p>
                  </div>
                  <div class="col-12 col-xl-6"><img src="../assets/images/line_end_arrow.svg" alt="line_end_arrow" class="ms-xl-auto"></div>
                </div>
              </div>
            </a>
          </div>
          
          <div class="col">
            <a class="position-relative" href="#"
              onmouseover="this.querySelector('span').style.opacity='40%'" 
              onmouseout="this.querySelector('span').style.opacity='1'">
              <div class="position-relative">
                <img src="../assets/images/felix_vertical.png" alt="felix_vertical" class="uti-objfit-cover d-none d-lg-block" style="height: 876px; width: 100%;">
                <img src="../assets/images/felix_vertical.png" alt="felix_vertical" class="uti-objfit-cover d-block d-lg-none" style="min-height: 406px;">
                <span class="position-absolute bg-dark uti-inset-0 uti-trasition-03"></span>
              </div>
              <div class="position-absolute uti-inset-0 d-flex flex-column justify-content-between px-12 py-24 px-lg-40">
                <div>
                  <p class="fs-128 fs-sm-200 fs-md-300 fs-lg-400 font-SairaExtraCond text-center mb-20">2</p>
                  <h2 class="fs-24 fs-sm-32 font-Shrikhand fst-italic text-center">Felix</h2>
                </div>
                <div class="row gx-0 flex-xl-row align-items-xl-end">
                  <div class="col-12 col-xl-6">
                    <p class="fw-bold">娛樂型<br><span class="fw-normal">音樂播放/語音互動/遊戲陪伴</span></p>
                  </div>
                  <div class="col-12 col-xl-6"><img src="../assets/images/line_end_arrow.svg" alt="line_end_arrow" class="ms-xl-auto"></div>
                </div>
              </div>
            </a>
          </div>

          <div class="col">
            <a class="position-relative" href="#"
              onmouseover="this.querySelector('span').style.opacity='40%'" 
              onmouseout="this.querySelector('span').style.opacity='1'">
              <div class="position-relative">
                <img src="../assets/images/karina_verticalgle.png" alt="karina_verticalgle" class="uti-objfit-cover d-none d-lg-block" style="height: 876px; width: 100%;">
                <img src="../assets/images/karina_verticalgle.png" alt="karina_verticalgle" class="uti-objfit-cover d-block d-lg-none" style="min-height: 406px;">
                <span class="position-absolute bg-dark uti-inset-0 uti-trasition-03"></span>
              </div>
              <div class="position-absolute uti-inset-0 d-flex flex-column justify-content-between px-12 py-24 px-lg-40">
                <div>
                  <p class="fs-128 fs-sm-200 fs-md-300 fs-lg-400 font-SairaExtraCond text-center mb-20">3</p>
                  <h2 class="fs-24 fs-sm-32 font-Shrikhand fst-italic text-center">Karina</h2>
                </div>
                <div class="row gx-0 flex-xl-row align-items-xl-end">
                  <div class="col-12 col-xl-6">
                    <p class="fw-bold">生活型<br><span class="fw-normal">健康提醒/日程安排/智能家居</span></p>
                  </div>
                  <div class="col-12 col-xl-6"><img src="../assets/images/line_end_arrow.svg" alt="line_end_arrow" class="ms-xl-auto"></div>
                </div>
              </div>
            </a>
          </div>

          <div class="col">
            <a class="position-relative" href="#"
              onmouseover="this.querySelector('span').style.opacity='40%'" 
              onmouseout="this.querySelector('span').style.opacity='1'">
              <div class="position-relative">
                <img src="../assets/images/vito_vertical.png" alt="vito_vertical" class="uti-objfit-cover d-none d-lg-block" style="height: 876px; width: 100%;">
                <img src="../assets/images/vito_vertical.png" alt="vito_vertical" class="uti-objfit-cover d-block d-lg-none" style="min-height: 406px;">
                <span class="position-absolute bg-dark uti-inset-0 uti-trasition-03"></span>
              </div>
              <div class="position-absolute uti-inset-0 d-flex flex-column justify-content-between px-12 py-24 px-lg-40">
                <div>
                  <p class="fs-128 fs-sm-200 fs-md-300 fs-lg-400 font-SairaExtraCond text-center mb-20">4</p>
                  <h2 class="fs-24 fs-sm-32 font-Shrikhand fst-italic text-center">Vito</h2>
                </div>
                <div class="row gx-0 flex-xl-row align-items-xl-end">
                  <div class="col-12 col-xl-6">
                    <p class="fw-bold">情感型<br><span class="fw-normal">情感識別/心情分析/心靈支持</span></p>
                  </div>
                  <div class="col-12 col-xl-6"><img src="../assets/images/line_end_arrow.svg" alt="line_end_arrow" class="ms-xl-auto"></div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
